.footer {
  background: #464547;
  width: 100%;
  height: 170px;
  overflow: hidden;
  z-index: 0;
}
.logo-small img {
  width: 20px;
  height: 20px;
  margin-left: 140px;
  margin-top: 20px;
}
.logo-small p {
  color: #fff;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 88.889% */
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-left: 175px;
  margin-top: -21px;
}
.footer-address p {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 118.75% */
  margin-left: 139px;
}
.footer-address a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
