@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans&family=Oswald:wght@400;500;600&family=Source+Code+Pro&family=Source+Sans+3&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

.headline {
  background: url("../assets/bg-1.png") no-repeat;
  width: 100%;
  height: 822px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.logo_big {
  width: 62px;
  height: 51px;
}
.headline h1 {
  text-align: center;
  width: 386px;
  height: 100px;
  color: #fff;
  font-family: Oswald;
  font-size: 48px;
  line-height: 64px; /* 133.333% */
}
.headline h2 {
  width: 426px;
  height: 56px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
  font-weight: 400;
}
