.mask-group {
  position: relative;
  background: linear-gradient(rgba(140, 79, 42, 0.3), rgba(140, 79, 42, 0.3)),
    url("../assets//logo-2.png") no-repeat top center;
  width: 100%;
  height: 1000px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 537px;
  z-index: 1;
}

.mask-group h2 {
  color: #fff;
  text-align: center;
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}
.video-button {
  width: 150px;
  height: 150px;
  padding-left: 18px;
  padding-bottom: 6px;
  background: #55c2d8;
  color: #fff;
  font-size: 70px;
  border-radius: 50%;
  border: none;
  margin: 20px;
}
.mask-group h3 {
  color: #fff;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
