.section-2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  width: 100%;
  height: 700px;
  overflow: hidden;
  z-index: 2;
}
.section-2 h2 {
  color: #464547;
  text-align: center;
  font-family: Oswald;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  margin: 0;
  padding-top: 100px;
}
.section-2 h3 {
  color: #666;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.section-2 p {
  color: #000;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 10px 50px;
}
.button {
  width: 115px;
  height: 36px;
  border-radius: 18px;
  border: none;
  background: #55c2d8;
  color: #fff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  letter-spacing: 1.4px;
  margin-top: 30px;
}
